bcrypt==3.1.4
celery==4.2.1
eventlet==0.21.0
Flask==0.12.2
Flask-Cors==3.0.3
Flask-JWT==0.3.2
Flask-RESTful==0.3.6
Flask-SocketIO==2.9.3
Flask-SQLAlchemy==2.3.2
pafy==0.5.3.1
python-dotenv==0.9.1
python-mpd2==1.0.0
redis==2.10.6
SQLAlchemy==1.1.15
youtube-dl==2017.12.23